<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <title>vue-demo</title>
</head>

<body>
  <div id="app">
    <div>
      <div
        class='basic'
        :class='style'
      >{{number}}</div>
      <button v-on:click="handleClick">click</button>
      <button v-on:click="handleChangeStyle">change style</button>
      <input v-model='firstName' />
      <div>{{fullName}}</div>
      <button v-on:click="handleSort">排序</button>
      <div>查找</div>
      <input v-model='searchedWords' />
      <template>
        <div
          v-for="(p,index) of searchedCars"
          :key="p.id"
        >{{p.name}}-{{p.color}}-{{p.price}}
          <input />
        </div>
      </template>
      <button v-on:click="handleDelete">删除</button>
      <button v-on:click="handleAdd">加一辆</button>
      <button v-on:click="handleChangePrice">改价格</button>
      <div>罗列颜色</div>
      <div
        v-for="(e,index) of colors"
        :key="e"
      >{{e}}</div>
      <button v-on:click="handleChangeColor">改颜色</button>
      <div v-html='innerText'></div>
      <div>boy next door</div>
      <button v-on:click="bye">点我干掉实例</button>
    </div>
    <School/>
  </div>
  <!-- built files will be auto injected -->
  <!-- <template>
    <div>{{name}}</div>
  </template> -->
</body>

</html>